# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [10]:
# Import libraries
import pandas as pd

#### Import dataset

In this challenge we will work on the Pokemon dataset. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [33]:
# Your code here:
df = pd.read_csv("/Users/miguelmoreno/Desktop/IRONHACK/week_6_day_2/lab-hypothesis-testing-variants/your-code/Pokemon.csv")
df.sample(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
204,189,Jumpluff,Grass,Flying,460,75,55,70,55,95,110,2,False
637,576,Gothitelle,Psychic,NaN,490,70,55,95,95,110,65,5,False
122,114,Tangela,Grass,NaN,435,65,55,115,100,40,60,1,False
754,684,Swirlix,Fairy,NaN,341,62,48,66,59,57,49,6,False
749,680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True
291,268,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False
774,704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [ ]:
from scipy.stats import ttest_ind

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples

    Args:
        s1 (DataFrame): sample 1 
        s2 (DataFrame): sample 2 
        features (list): list of stats to test

    Returns:
        dict: feature name as key, p-value as value
    """
    results = {}
    for feature in features:
        _, p_value = ttest_ind(s1[feature], s2[feature])
        results[feature] = p_value
    return results

# ---- Running the function with your Pokémon dataset ----

# 1. Split into Legendary and Non-Legendary
legendary = df[df['Legendary'] == True]
non_legendary = df[df['Legendary'] == False]

# 2. Call the function
result = t_test_features(legendary, non_legendary)

# 3. Print result
print(result)

{'HP': 3.3306476848461913e-15, 'Attack': 7.827253003205333e-24, 'Defense': 1.5842226094427255e-12, 'Sp. Atk': 6.314915770427265e-41, 'Sp. Def': 1.8439809580409597e-26, 'Speed': 2.3540754436898437e-21, 'Total': 3.0952457469652825e-52}

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [22]:
# Your code here
# 2. Call the function
result = t_test_features(legendary, non_legendary)

# 3. Print result
print(result)

{'HP': 3.3306476848461913e-15, 'Attack': 7.827253003205333e-24, 'Defense': 1.5842226094427255e-12, 'Sp. Atk': 6.314915770427265e-41, 'Sp. Def': 1.8439809580409597e-26, 'Speed': 2.3540754436898437e-21, 'Total': 3.0952457469652825e-52}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [26]:
# Your comment here
#Yes, Legendary Pokemon have significantly different stat that non-Legendary pokemon.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [29]:
# Your code here

from scipy.stats import ttest_ind

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples

    Args:
        s1 (DataFrame): sample 1 
        s2 (DataFrame): sample 2 
        features (list): list of stats to test

    Returns:
        dict: feature name as key, p-value as value
    """
    results = {}
    for feature in features:
        _, p_value = ttest_ind(s1[feature], s2[feature])
        results[feature] = p_value
    return results

# ---- Running the function with your Pokémon dataset ----

# 1. Split into Legendary and Non-Legendary
generation_1 = df[df['Generation'] == 1]
generation_2 = df[df['Generation'] == 2]

# 2. Call the function
result = t_test_features(generation_1, generation_2)

# 3. Print result
print(result)

{'HP': 0.13791881412813622, 'Attack': 0.24050968418101448, 'Defense': 0.5407630349194362, 'Sp. Atk': 0.14119788176331508, 'Sp. Def': 0.1678122623160639, 'Speed': 0.0028356954812578704, 'Total': 0.5599140649014442}

#### What conclusions can you make?

In [30]:
# Your comment here
#Pokemon from the two generations do not differ significantly in most stats

#### Compare pokemons who have single type vs those having two types.

In [34]:
# Your code here
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples

    Args:
        s1 (DataFrame): sample 1 (e.g., single-type Pokémon)
        s2 (DataFrame): sample 2 (e.g., dual-type Pokémon)
        features (list): list of stat names to test

    Returns:
        dict: feature name as key, p-value as value
    """
    results = {}
    for feature in features:
        _, p_value = ttest_ind(s1[feature], s2[feature], nan_policy='omit')
        results[feature] = p_value
    return results

# Group 1: Single-type Pokémon (Type 2 is NaN)
single_type = df[df['Type 2'].isna()]

# Group 2: Dual-type Pokémon (Type 2 is not NaN)
dual_type = df[df['Type 2'].notna()]

# Run the t-test
test_results = t_test_features(single_type, dual_type)

# Show results
print("P-values comparing single-type vs dual-type Pokémon:")
for stat, p in test_results.items():
    print(f"{stat}: {p}")

P-values comparing single-type vs dual-type Pokémon:
HP: 0.11060643144431842
Attack: 0.00015741395666164396
Defense: 3.250594205757004e-08
Sp. Atk: 0.0001454917404035147
Sp. Def: 0.00010893304795534397
Speed: 0.02405141079403746
Total: 1.1749035008828753e-07

#### What conclusions can you make?

In [32]:
# Your comment here
#Pokemons with two types have significantly different stats in Attack, Defense, etc compare to single-type pokmeno

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [35]:
# Your code here

from scipy.stats import ttest_rel

# Compare Attack vs Defense (same Pokémon)
stat1, p_value_1 = ttest_rel(df['Attack'], df['Defense'])

# Compare Sp. Atk vs Sp. Def (same Pokémon)
stat2, p_value_2 = ttest_rel(df['Sp. Atk'], df['Sp. Def'])

# Print results
print("Attack vs Defense p-value:", p_value_1)
print("Sp. Atk vs Sp. Def p-value:", p_value_2)

Attack vs Defense p-value: 1.7140303479358558e-05
Sp. Atk vs Sp. Def p-value: 0.3933685997548122

#### What conclusions can you make?

In [20]:
# Your comment here

#Attack vs Defense is a significant difference between Attack and Defense across all pokemon.
#Sp. Atk vs sP. Def there is not significant difference between these two stats